.global{
    font-family: 'Montserrat', sans-serif;
}

.upper-header-block{
  color: white;
}

.main-header{
  background-image: url("images/background.jpg");
}

.shop{
  text-align: center;
  display: block;
  font-size: large;
  padding: 20px;
}

.shop i{
  font-size:24px;
  float: right;
  color: black;
}

.wear-ur-fashion{
  text-align: center;
  padding: 80px;
  color: rgb(53, 51, 51);
}

.clothtype{
  padding-bottom: 15px;
}

#clothtype-row{
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .cloths{
    margin-bottom: 15px;
  }
}

.fit-image{
  width: 100%;
  object-fit: cover;
  height: 300px; /* only if you want fixed height */
  
}

.hover_text {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 46%;
}

.text_on_img {
  position: center;
  bottom: 20px;
  right: 20px;
  background-color: white;
  color: black;
  padding: 10px 20px 10px 20px;
}

.section-row{
  align-items: center;
  justify-content: center;
}

.footer-section {
  margin-top: 30px;
  background: #262626;
  font-family: 'Montserrat', sans-serif;
}


.single-footer-widget {
  margin-bottom: 30px;
}

.single-footer-widget h4 {
	color: white;
	font-size: 26px;
  margin-bottom: 44px;
  padding-top: 30px;
}

.single-footer-widget ul li {
	font-size: 14px;
	font-weight: 500;
	list-style: none;
	line-height: 36px;
	opacity: 0.5;
}

.single-footer-widget ul li a{
  color: white;
}

/* Shirts.html css  */

.nav-tab {
  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.nav-tab a {
  text-align: center;
  font-size: 16px;
  color: black;
  padding:14px 40px;
  overflow: hidden;
}

.nav-tab .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover, .nav-tab:hover .subnavbtn {
  color: black;
  background-color: rgb(192, 192, 192);
}

.subnav-content {
  display: none;
  position: relative;
  text-align: center;
  background-color: rgb(192, 192, 192);
}

.subnav-content a {
  color: white;
}

.subnav-content a:hover {
  color: black;
}

.nav-tab:hover .subnav-content {
  display: block;
}

.product-caption{
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
  margin-bottom: 15px;
}

.product-caption h5 a{
  color: black;
}

/* Single-Product */

.single-product-img{
  text-align: center;
}

.details{
  font-family: 'Montserrat', sans-serif;
}

.img-div{
  text-align: center;
}

.price{
  color: rgb(109, 109, 109);
}

.pickers{
  color: rgb(109, 109, 109);
}

#prod-img{
  width: 50%;
  height: 100%;
}

.description{
  color: rgb(109, 109, 109);
}

.description h5{
  color: black;
}

.quant-inp{
  width: 10%;
}

.default {
  border-color: #e7e7e7;
  color: black;
}

/* cart page */

.cart{
  text-align: center;
  margin: 200px;
  font-family: 'Montserrat', sans-serif;
}

.checkout{
  font-family: 'Montserrat', sans-serif;
}